*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 10vh;
}

.menu{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-content: center;
    gap: 110px;
}

main{
    align-items: center;
    justify-content: center;
}

.lata{

    
}